.greenButton {
  background: #99add3;
  border-radius: 10px;
  border: 2px solid white;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  border-radius: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 1rem 4rem;
  height: 100%;
  position: relative;
  z-index: 1;
}
.greenButton::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  height: 100%;
  background: url('./../../assets/images/backgrounds/frost.png');
  mix-blend-mode: overlay;
  opacity: 0.2;
}
