.Container {
  border: 2px solid #ffffff;
  background: rgba(255, 249, 249, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  max-width: 50rem;
  height: auto;
}
.ProfileContent {
  display: flex;
  justify-content: space-between;
  padding: 4rem 4rem 1.5rem 4rem;
}
.Name {
  font-size: 3.5rem;
  font-weight: 700;
}
.Rollno {
  margin: 1rem 0rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.FileHolder {
  margin: 2rem 0rem 0rem 0rem;
  height: auto;
  width: 20rem;
  background-color: #ffffff;
  border-radius: 2rem;
  border: 1px solid #000000;
  display: flex;
  flex-wrap: wrap;
  padding: 1.2rem;
  justify-content: center;
  font-size: 2rem;
}
.DateSection {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;  
}
.Date {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.04em;
}
.DateContainer {
  height: auto;
  width: 14rem;
  background-color: #ffffff;
  border-radius: 2rem;
  border: 1px solid #000000;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.FromDate,
.ToDate,
.Days {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
}
.FromDate {
  background-color: #c41717;
}
.ToDate {
  background-color: #fac61de0;
}
.Days {
  background-color: #2517c4;
}
.StatusShower {
  height: auto;
  width: auto;
  background-color: #c41717;
  font-size: 2rem;
  color: #ffffff;
  border-radius: 0rem 0rem 30px 30px;
  text-align: center;
  padding: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 600px) {
  .Container {
    border-radius: 25px;
    /* width: 40rem; */
  }
  .ProfileContent {
    padding: 2rem 2rem 1rem 2rem;
  }
  .Name {
    font-size: 2.5rem;
    font-weight: 700;
  }
  .DateContainer {
    width: 12rem;
    border-radius: 1.6rem;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
  }
  .Date {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .Rollno {
    font-size: 1.6rem;
  }
  .FileHolder {
    margin: 1.6rem 0rem 0rem 0rem;
    width: 14rem;
    border-radius: 2rem;
    padding: 0.8rem;
    font-size: 1.4rem;
  }
  .StatusShower {
    font-size: 1.6rem;
    border-radius: 0rem 0rem 25px 25px;
    padding: 1rem;
    letter-spacing: 0.04em;
  }
}
