#Container {
    height: auto;
    width: auto;
    border: 1px solid transparent;
    padding: 0rem;
    margin: 0rem;
}
#StudentImage {
    position: absolute;
    margin: 0rem 61rem 0rem 61rem;
    height: 20rem;
    width: 20rem;
    border-radius: 10rem;
    box-shadow: 4px 4px 24px -4px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    z-index: 1;
}
#StaffName {
    padding: 12rem 0rem 0rem 0rem;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.07em;
    text-align: center;
}
#DetailsContainer {
    padding: 5rem 0rem 4rem 0rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2.5rem;
    justify-content: center;
    height: auto;
    width: auto;
}
#StaffDetails {
    height: auto;
    width: 28rem;
    font-size: 1.8rem;
    letter-spacing: 0.07em;
}