#lab,
#Intr_Marks,
#Other_Marks {
    position: relative;
    height: auto;
    width: auto;
}

#Intr_Marks {
    top: 50px;
}

#Other_Marks {
    top: 50px;
}

h3 {
    position: relative;
    top: 40px;
    left: 60px;
    font-size: 20px;
}

table {
    top: 50px;
    left: 130px;
    position: relative;
    background: linear-gradient(100.92deg, rgba(255, 255, 255, 0.36) -1.15%, rgba(255, 255, 255, 0.24) 99.99%);
    box-sizing: border-box;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border-collapse: collapse;
}

td,
th {
    border: 2px solid rgba(0, 0, 0, 0.6);
    padding: 15px;
    width: 150px;
    text-align: center;
    font-weight: 700;
}

th {
    font-size: 20px;
    height: 100px;
}

td {
    font-size: 18px;
    font-weight: 500;
}

#Lab-head,
#Intr-head,
#Other-head {
    background: rgba(0, 19, 255, 0.35);
    background-image: url('./images/Frost.png');
    mix-blend-mode: normal;
    border-radius: 20px;
}

#Intr_Marks table,
#Other_Marks table {
    position: relative;
    top: 50px;
    left: 16px;
}

#Other_Marks table {
    top: 90px;
    left: 38px;
}

#Other {
    position: relative;
    top: 80px;
}