table {
    top: 190px;
    left: 250px;
    position: absolute;
    background: linear-gradient(100.92deg, rgba(255, 255, 255, 0.36) -1.15%, rgba(255, 255, 255, 0.24) 99.99%);
    border: 2px solid rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    box-shadow: 4px 4px 24px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    border-collapse: collapse;
}

tr {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.07rem;
    text-align: center;
}

td,
th {
    border: 2px solid rgba(0, 0, 0, 0.6);
    padding: 24px;
}

#Table-Head {
    background: rgba(0, 19, 255, 0.35);
    background-image: url('./images/Frost.png');
    mix-blend-mode: normal;
}