body {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#Blue {
    position: absolute;
    width: 1665px;
    height: 860px;
    left: 0px;
    top: 0px;
    background: #003F87;
}

h1 {
    position: absolute;
    font-weight: 750;
    line-height: 42px;
    font-size: 30px;
    line-height: 65px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-align: center;
    left: 38px;
    top: 535px;
}

#logo {
    position: absolute;
    width: 274px;
    height: 386px;
    left: 185px;
    top: 132px;
}

#White {
    position: absolute;
    width: 1045px;
    height: 858px;
    left: 650px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

h2 {
    position: absolute;
    left: 180px;
    top: 100px;
    font-family: Times, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 29px;
    line-height: 37px;
    letter-spacing: 0.09em;
    color: #797979;
}

button,
#Students,
#Teachers {
    width: 250px;
    height: 60px;
    position: absolute;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 0.5s;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.07em;
}

#Students {
    left: 180px;
    top: 205px;
    color: #FFFFFF;
    background: #003F87;
    box-shadow: inset 0 0 0 0 #FFFFFF;
    border: none;
}

#Students:hover {
    color: #797979;
    box-shadow: inset 230px 0 0 0 #FFFFFF;
    border: 3px solid #797979;
}

svg {
    position: absolute;
    height: 28px;
    width: 28px;
}

#iconS {
    fill: #FFFFFF;
    left: 20px;
    top: 16px;
}

#Teachers {
    left: 540px;
    top: 205px;
    color: #797979;
    background: #FFFFFF;
    border: 3px solid #797979;
    box-shadow: inset 0 0 0 0 #003F87;
}

#Teachers:hover {
    color: #FFFFFF;
    box-shadow: inset 230px 0 0 0 #003F87;
    border: none;
}

#iconT {
    fill: #797979;
    left: 24px;
    top: 13px;
}

h4 {
    position: absolute;
    left: 180px;
    top: 300px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.06em;
    color: #000000;
}

input {
    position: absolute;
    width: 590px;
    height: 65px;
    left: 180px;
    top: 370px;
    background: #FFFFFF;
    border: 3px solid #797979;
    box-sizing: border-box;
    border-radius: 16px;
    font-size: 20px;
    text-align: center;
}

#nameP {
    left: 180px;
    top: 440px;
}

#Pass {
    left: 180px;
    top: 510px;
}

#Login {
    position: absolute;
    width: 590px;
    height: 65px;
    left: 180px;
    top: 620px;
    background: #003F87;
    border-radius: 16px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.06em;
    border: none
}